{# core_sdk/frontend/templates/components/_modal_form_wrapper.html #}
{% set modal_id = "modal-form-" ~ ctx.model_name ~ "-" ~ (ctx.item_id if ctx.item_id else "new") %}
{% extends "components/_modal_wrapper.html" %} {# _modal_wrapper создает .modal-dialog и .modal-content #}

{% block modal_size %}modal-xl{% endblock %}
{% block modal_title %}{{ ctx.title }}{% endblock %}

{% block modal_body %}
    {% set form_action_url = url_for('update_item', model_name=ctx.model_name, item_id=ctx.item_id) if ctx.mode == 'edit' else url_for('create_item', model_name=ctx.model_name) %}
    {% set form_method = 'put' if ctx.mode == 'edit' else 'post' %}

    <form id="{{ ctx.html_id }}"
          hx-{{ form_method }}="{{ form_action_url }}"
          hx-ext="json-enc"
          {# --- ИЗМЕНЕНИЕ HX-TARGET --- #}
          hx-target="#{{ modal_id }} .modal-content" {# Цель - .modal-content текущей модалки #}
          hx-swap="innerHTML" {# Заменяем содержимое .modal-content #}
          ui_key="{{ ctx.model_name }}--{{ ctx.item_id if ctx.item_id else 'new' }}"
          data-lsn="{{ ctx.item.lsn if ctx.item and ctx.item.lsn else '0' }}">

        {# Включаем form_modal_content.html, который теперь должен содержать #}
        {# .modal-header (если нужно кастомное), .modal-body (с полями), .modal-footer (с кнопками) #}
        {# Это содержимое заменит существующее в .modal-content #}
        {% include "components/form_modal_content_for_replacement.html" %} {# НОВЫЙ ШАБЛОН ДЛЯ ЗАМЕНЫ #}

    </form>
{% endblock %}

{% block modal_footer %}
    {# Этот футер из _modal_wrapper.html НЕ будет использоваться, #}
    {# так как form_modal_content_for_replacement.html предоставит свой .modal-footer #}
    {# Или, если form_modal_content_for_replacement.html не предоставляет футер, #}
    {# а кнопки должны быть здесь, то они должны иметь form="{{ ctx.html_id }}" #}
    {# Давайте сделаем так, чтобы form_modal_content_for_replacement.html содержал и футер. #}
{% endblock %}