{# core_sdk/frontend/templates/components/_table_row.html #}
{# Ожидает: item, model_name, fields (прототипы), ctx, row_hx_attrs (словарь), request, user, url_for #}
<tr ui_key="{{ model_name }}--{{ item.id }}" data-lsn="{{ item.lsn }}"
{% for attr, val in row_hx_attrs.items() %}
    {{ attr }}='{{ val|safe }}'
{% endfor %}
>
{% for field_prototype_ctx in fields %}
    {% if field_prototype_ctx.name not in ['id', 'lsn', 'vars', 'hashed_password'] and not field_prototype_ctx.extra.get('table_hidden') %}
        {% set cell_value = item[field_prototype_ctx.name] %}
        {% set cell_specific_field_ctx = field_prototype_ctx.model_copy(update={'value': cell_value }) %}
        {% with field_ctx=cell_specific_field_ctx, item=item, model_name=model_name, request=request, user=user, url_for=url_for %}
            {% include "components/_table_cell.html" %}
        {% endwith %}
    {% endif %}
{% endfor %}
<td class="text-end">
    {# Кнопка Просмотр #}
    {% set view_content_url = url_for('get_view', model_name=model_name, item_id=item.id) %}
    <a href="#" class="avtar avtar-xs mx-1 btn-link-secondary"
       title="Просмотр {{ model_name }}"
       hx-get="{{ url_for('get_modal_wrapper') }}?content_url={{ view_content_url | urlencode }}&modal_title={{ ('Просмотр: ' ~ model_name) | urlencode }}&modal_size=modal-xl"
       hx-target="#modal-placeholder" {# Или #modal-placeholder-{{ loop.index0 }} для матрешки #}
       hx-swap="innerHTML"
       hx-indicator="closest tr">
        <i class="ti ti-eye f-20"></i>
    </a>

    {# Кнопка Редактировать #}
    {% if ctx.can_edit %}
        {% set edit_content_url = url_for('get_edit_form', model_name=model_name, item_id=item.id) %}
        <a href="#" class="avtar avtar-xs mx-1 btn-link-secondary"
           title="Редактировать {{ model_name }}"
           hx-get="{{ url_for('get_modal_wrapper') }}?content_url={{ edit_content_url | urlencode }}&modal_title={{ ('Просмотр: ' ~ model_name) | urlencode }}&modal_size=modal-xl"
           hx-target="#modal-placeholder"
           hx-swap="innerHTML"
           hx-indicator="closest tr">
            <i class="ti ti-edit f-20"></i>
        </a>
    {% endif %}

    {# Кнопка Удалить (остается как есть, загружает _confirm_delete_modal.html) #}
        {% set delete_content_url = url_for('get_delete_view', model_name=model_name, item_id=item.id) %}
        <a href="#" class="avtar avtar-xs mx-1 btn-link-secondary"
           title="Удалить {{ model_name }}"
           hx-get="{{ url_for('get_modal_wrapper') }}?content_url={{ delete_content_url | urlencode }}&modal_title={{ ('Удаление: ' ~ model_name) | urlencode }}&modal_size=modal-lg"
           hx-target="#modal-placeholder"
           hx-swap="innerHTML"
           hx-indicator="closest tr">
            <i class="ti ti-trash f-20"></i>
        </a>

</td>
</tr>