{# core_sdk/frontend/templates/fields/checkbox_input.html #}
{# Ожидает: field_ctx (FieldRenderContext) #}
<div class="mb-5 fv-row">
    <div class="form-check form-check-custom form-check-solid">
        {# --- УДАЛЕНО СКРЫТОЕ ПОЛЕ --- #}
        <input class="form-check-input" type="checkbox"
               value=true {# ВАЖНО: отправляем "true" как строку, если отмечен #}
                           {# Pydantic на бэкенде сможет преобразовать "true" в bool #}
               id="{{ field_ctx.html_id }}"
               name="{{ field_ctx.html_name }}"
               {% if field_ctx.value == True %}checked{% endif %} {# Явная проверка на True #}
               {% if field_ctx.is_readonly %}disabled{% endif %}
               aria-describedby="{{ field_ctx.html_id }}_help {{ field_ctx.html_id }}_errors"
               />
        <label class="form-check-label fw-semibold" for="{{ field_ctx.html_id }}">
            {{ field_ctx.label }}
            {% if field_ctx.is_required %}<span class="text-danger">*</span>{% endif %}

        </label>
    {% if field_ctx.description %}
        <span class="form-floating-info-icon"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-container="{% if ctx and ctx.extra and ctx.extra.modal_container_id %}{{ '#' ~ ctx.extra.modal_container_id }}{% else %}body{% endif %}"
              title="{{ field_ctx.description | escape }}">
        <i class="ti ti-info-circle text-muted"></i>
    </span>
    {% endif %}
    </div>
     {% if field_ctx.description %}
        <div id="{{ field_ctx.html_id }}_help" class="form-text text-muted mt-1">{{ field_ctx.description }}</div>
    {% endif %}
     {% if field_ctx.errors %}
        <div id="{{ field_ctx.html_id }}_errors" class="invalid-feedback d-block mt-1">
            {{ field_ctx.errors | join(', ') }}
        </div>
    {% endif %}
</div>