{# core_sdk/frontend/templates/fields/relation_select.html #}
{# Ожидает: field_ctx, url_for #}
<div class="form-floating mb-3">
    <select class="form-select td-relation a{% if field_ctx.errors %}is-invalid{% endif %}"
            data-control="choicesjs"
            data-allow-clear="{{ 'true' if field_ctx.extra.get('allow_clear', True) and not field_ctx.is_required else 'false' }}"
            data-load-options-url="{{ url_for('get_select_options', model_name=field_ctx.extra.relation_model_name) }}"
            data-search-enabled="{{ field_ctx.extra.get('search_enabled', 'true') }}"
            id="{{ field_ctx.html_id }}"
            name="{{ field_ctx.html_name }}"
{#            {% if field_ctx.is_readonly %}disabled{% endif %}#}
            {% if field_ctx.is_required %}required{% endif %}
            aria-label="{{ field_ctx.label }}"
            aria-describedby="{{ field_ctx.html_id }}_errors">

        {% if not field_ctx.value and not field_ctx.is_required %} {# Добавляем пустую опцию для плейсхолдера, если значение не задано и не обязательно #}
            <option value="">{{ field_ctx.extra.get('placeholder', field_ctx.label ~ '...') }}</option>
        {% endif %}

        {% if field_ctx.value %}
            {% set current_value_str = field_ctx.value | string %}
            {% set found_in_options = false %}
            {% if field_ctx.options %}
                {% for opt_val, opt_label in field_ctx.options %}
                    {% if opt_val | string == current_value_str %}
                        <option value="{{ opt_val }}" selected>{{ opt_label }}</option>
                        {% set found_in_options = true %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if not found_in_options %}
                <option value="{{ current_value_str }}" selected>
                    ID: {{ current_value_str | truncate(12, True, '...') }}
                </option>
            {% endif %}
        {% endif %}
    </select>
    <label for="{{ field_ctx.html_id }}">
        {{ field_ctx.label }}{% if field_ctx.is_required %}<span class="text-danger">*</span>{% endif %}
        {% if field_ctx.description %}
            <i class="ti ti-info-circle ms-1 text-muted" style="cursor: help; font-size: 0.9em;"
               data-bs-toggle="tooltip" data-bs-placement="top"
               title="{{ field_ctx.description | escape }}"></i>
        {% endif %}

    </label>

    {% if field_ctx.errors %}
        <div class="invalid-feedback">
            {{ field_ctx.errors | join(', ') }}
        </div>
    {% endif %}
</div>