{# Ожидает: field_ctx (FieldRenderContext), url_for #}
<div class="mb-3 row">
    <label class="col-lg-4 col-form-label fw-semibold text-muted">{{ field_ctx.label }}</label>
    <div class="col-lg-8">
        {% if field_ctx.value %}
            {% set item_id_val = field_ctx.value %}
            {% set related_model_name = field_ctx.extra.relation_model_name %}
            <a href="#" class="fw-bold text-primary text-hover-warning needs-title-resolution"
               data-model-name="{{ related_model_name }}"
               data-item-id="{{ item_id_val }}"
               hx-get="{{ url_for('get_view', model_name=related_model_name, item_id=item_id_val) }}"
               hx-target="#modal-placeholder" {# Открываем в модалке #}
               hx-swap="innerHTML"
               title="Просмотр {{ related_model_name }} {{ item_id_val }}">
                {{- item_id_val|string|truncate(8, True, '...') -}}
            </a>
        {% else %}
            <span class="text-muted">Не указано</span>
        {% endif %}
         {% if field_ctx.description %}
            <p class="text-muted fs-7 mt-1">{{ field_ctx.description }}</p>
         {% endif %}
    </div>
</div>