{# core_sdk/frontend/templates/fields/switch_view.html #}
{# Ожидает: field_ctx (FieldRenderContext) #}
<div class="mb-3 row">
    <label class="col-lg-4 col-form-label fw-semibold text-muted">{{ field_ctx.label }}</label>
    <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">
            {% if field_ctx.value == True %}
                <span class="badge badge-light-success">Включено</span>
            {% elif field_ctx.value == False %}
                <span class="badge badge-light-danger">Выключено</span>
            {% else %}
                <span class="badge badge-light-secondary">Не задано</span>
            {% endif %}
        </span>
         {% if field_ctx.description %}
            <p class="text-muted fs-7 mt-1">{{ field_ctx.description }}</p>
         {% endif %}
    </div>
</div>