{# core_sdk/frontend/templates/fields/switch_input.html #}
{# Ожидает: field_ctx #}
<div class="ms-1 fv-row">
    <div class="form-check form-switch form-check-custom form-check-solid d-flex align-items-center pt-2 pb-2">
        <input class="form-check-input input-primary me-2" type="checkbox"
               role="switch"
               id="{{ field_ctx.html_id }}"
               name="{{ field_ctx.html_name }}"
               value="true"
               {% if field_ctx.value == True %}checked{% endif %}
               {% if field_ctx.is_readonly %}disabled{% endif %}
               aria-describedby="{{ field_ctx.html_id }}_errors"
        />
        <label class="form-check-label fw-semibold" for="{{ field_ctx.html_id }}">
            {{ field_ctx.label }}
            {% if field_ctx.is_required %}<span class="text-danger">*</span>{% endif %}
            <label for="{{ field_ctx.html_id }}">
                {% if field_ctx.description %}
                    <i class="ti ti-info-circle ms-1 text-muted"
                       style="cursor: help; font-size: 0.9em;"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       data-bs-container="#{{ modal_id_для_этой_формы }}" {# <--- ВАЖНО #}
                       title="{{ field_ctx.description | escape }}"></i>
                {% endif %}
            </label>
        </label>
    </div>
    {% if field_ctx.errors %}
        <div class="invalid-feedback d-block mt-1">
            {{ field_ctx.errors | join(', ') }}
        </div>
    {% endif %}
</div>