{# core_sdk/frontend/templates/fields/switch_field.html #}
{# Ожидает: field_ctx (FieldRenderContext), component_ctx (RenderContext) #}

{# Этот шаблон не использует form-floating напрямую, так как label идет рядом с input #}
{# _field_layout_wrapper решит, нужен ли внешний label #}

<div class="form-check form-switch form-check-custom form-check-solid
            {% if component_ctx.component_mode == 'table_cell' %}d-inline-block{% else %}d-flex align-items-center{% endif %}"
     style="{% if component_ctx.component_mode != 'table_cell' %}min-height: calc(1.5em + 0.75rem + 2px);{% endif %}">
    <input class="form-control form-check-input input-primary" type="checkbox"
           role="switch"
           id="{{ field_ctx.html_id }}"
           name="{{ field_ctx.html_name }}"
           value="true"
           {% if field_ctx.value == True %}checked{% endif %}
           {% if field_ctx.is_readonly or field_ctx.state == 'view' %}disabled{% endif %}
           aria-describedby="{{ field_ctx.html_id }}_errors"
           {# Атрибуты для инлайн-сохранения, если это инлайн-редактирование и состояние EDIT #}
           {% if field_ctx.state == 'edit' and field_ctx.is_editable_context and component_ctx.item_id %}
               hx-put="{{ url_for('update_inline_field', parent_mode=component_ctx.component_mode.value, model_name=current_model_name_for_url, item_id=current_item_id_for_url, field_name=field_ctx.name) }}"
               hx-ext="json-enc"
               hx-trigger="change"
               hx-target="closest .field-layout-wrapper"
               hx-swap="outerHTML"
               hx-indicator="closest .field-layout-wrapper"
           {% endif %}
           {% if field_ctx.state == 'edit' and component_ctx.component_mode == 'table_cell' and field_ctx.is_editable_context %}autofocus{% endif %}
           {% for attr, val in field_ctx.extra_attrs.items() if attr.startswith('hx-') or attr.startswith('data-') %}
               {{ attr }}="{{ val }}"
           {% endfor %}>

    {# Лейбл для свитча (виден только если это не ячейка таблицы, где лейбл в TH) #}
    {% if component_ctx.component_mode != 'table_cell' %}

    {% endif %}
</div>