{# core_sdk/frontend/templates/fields/switch_input.html #}
{# Ожидает: field_ctx #}
<div class="ms-3 fv-row">
    <div class="form-check form-switch form-check-custom form-check-solid d-flex align-items-center pt-2 pb-2">
        <input class="form-check-input input-primary me-2 text-bg-primary" type="checkbox"
               role="switch"
               id="{{ field_ctx.html_id }}"
               name="{{ field_ctx.html_name }}"
               value="true"
               {% if field_ctx.value == True %}checked{% endif %}
               disabled
               aria-describedby="{{ field_ctx.html_id }}_errors"
               />
        <label class="form-check-label fw-semibold" for="{{ field_ctx.html_id }}" style="opacity: 1!important;">
            {{ field_ctx.label }}
            {% if field_ctx.is_required %}<span class="text-danger">*</span>{% endif %}

        </label>
    {% if field_ctx.description %}
            <span class="form-floating-info-icon"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-container="{% if ctx and ctx.extra and ctx.extra.modal_container_id %}{{ '#' ~ ctx.extra.modal_container_id }}{% else %}body{% endif %}"
                  title="{{ field_ctx.description | escape }}">
        <i class="ti ti-info-circle text-muted"></i>
    </span>
        {% endif %}
    </div>
    {% if field_ctx.errors %}
        <div class="invalid-feedback d-block mt-1">
            {{ field_ctx.errors | join(', ') }}
        </div>
    {% endif %}
</div>