{# apps/frontend/templates/components/_footer.html #}
<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col my-1">
                <p class="m-0">CorePlatform © {{ now().year }}</p>
            </div>
            <div class="col-auto my-1">
                <ul class="list-inline footer-link mb-0">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><a href="#" target="_blank">Docs</a></li>
                    <li class="list-inline-item"><a href="#" target="_blank">Support</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>